@font-face {
    font-family: "Lato-Regular";
    src: url("../fonts/lato/Lato-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Lato-Bold";
    src: url("../fonts/lato/Lato-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "georgia-regular";
    src: url("../fonts/georgia/georgia-regular.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "georgia-bold";
    src: url("../fonts/georgia/georgia-bold.ttf");
    font-weight: bold;
    font-style: normal;
}
